body.z {background-color: white;
        color: black;
	  margin-left: 10%;
	  margin-right: 10%;
          padding: 0;
 	  font-family: freesans,verdana,geneva,arial,helvetica,sans-serif;
	  }

body {background-color: white;
      background-repeat: no-repeat;
      color: black;
      padding: 0;
      font-family: freesans,verdana,geneva,arial,helvetica,sans-serif;
      }


body.front {background-color: white;
      color: black;
      margin: 0;
      padding: 0;
      font-family: freesans,verdana,geneva,arial,helvetica,sans-serif;
	  }


p { font-size: small; text-align: justify; }

p.center { text-align: center; }

p.link { width:188px }


li,dt,dd { font-size: small; text-align: justify; }

h1 { font-size: 140%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
h4 { font-size: 100%; }

pre.code { font-family: freemono,"andale mono",lucida,"courier new",courier,monospace;
           font-size: small;
           color: blue; }

pre.code i { font-family: freemono,"andale mono",lucida,"courier new",courier,monospace;
             font-style: normal;
             font-size: small;
             color: gray; }



td {font-family: freesans,verdana,geneva,arial,helvetica,sans-serif;
    font-size: small;}

a:link    {background-color: transparent;
           color: #008;
           font-weight: bold;
           text-decoration:none;}
           
a:visited {background-color: transparent;
           color: #808;
           font-weight: bold;
           text-decoration:none;}
           
a:active  {background-color: transparent;
           color: #fe0000;
           font-weight: bold;
           text-decoration:none;}
           
a:hover   {background-color: transparent;
           color: #1919aa;
           font-weight: bold;
           text-decoration:underline;}

a.sidebar:link    {background-color: transparent;
                   color: #008;
                   font-weight: normal;
                   text-decoration:none;}
                   
a.sidebar:visited {background-color: transparent;
                   color: #008;
                   font-weight: normal;
                   text-decoration:none;}
                   
a.sidebar:active  {background-color: transparent;
                   color: #fe0000;
                   font-weight: normal;
                   text-decoration:none;}
                   
a.sidebar:hover   {background-color: transparent;
                   color: #1919aa;
                   font-weight: normal;
                   text-decoration:underline;}

tr.menurow {background-color: #008;
            color: black;
            vertical-align: middle;}

td.menucell {color: white;
             background-color: #008;
             font-family: freesans,verdana,geneva,arial,helvetica,sans-serif;
             font-size: small;}

a.menulink {color: #eee;
            background-color: #008;
            text-decoration: none;
            font-family: freesans,verdana,geneva,arial,helvetica,sans-serif;
            font-size: small;}

a.menulink:visited {color: #eee;
                    background-color: #008;
                    text-decoration: none;}

a.menulink:hover {color: white;
                  background-color: #008;
                  text-decoration:none;}

td.locationcell {color: black;
                 background-color: white;
                 font-family: freesans,verdana,geneva,arial,helvetica,sans-serif;
                 font-size: small;
                 font-weight:bold;}

td.titlebar {color: black;
             background-color: #c5cae2;
             font-family: freesans,verdana,geneva,arial,helvetica,sans-serif;}

h1.zsection {color: black;
    background-color: #CCE;
    text-align: center;
	font-family: freesans,verdana,geneva,arial,helvetica,sans-serif;
	font-size: 180%;
	padding: 0.3em;
    border: none;
	width: 100%; }

h1.section {
    color: #06425F;
    font-family: freesans,verdana,geneva,arial,helvetica,sans-serif;
    font-size: 180%;
    margin-top: 2em;
    }

h2.section {color: black;
    background-color: #CCE;
    text-align: center;
	font-family: freesans,verdana,geneva,arial,helvetica,sans-serif;
	font-size: 120%;
	padding: 0.2em;
    border: solid;
	border-width: 1px;
	width: 100%; }

tt.code { color: gray; }
em.warning { color: red; }


p.label {  margin-left : 0.5em;
           color       :  #056;
           line-height : 20px;}

a.label:link {color: #DDF}
a.label:visited {color: #DDF}
a.label:active {color: #DDF}
a.label:hover {color: #DDF}

a.index:link {  text-decoration: none; color: #666}      /* for unvisited links */
a.index:visited { text-decoration: none; color: #666}       /* for visited links */
a.index:active {  text-decoration: none; color: #666}           /* when link is clicked */
a.index:hover {  text-decoration: underline; color: black}        /* when mouse is over link */

