@font-face
{
	font-family: freeserif;
	font-weight: normal;
	font-style:  normal;
	src: url("FreeSerif.woff") format("woff");
}
@font-face
{
	font-family: freeserif;
	font-weight: bold;
	font-style:  normal;
	src: url("FreeSerifBold.woff") format("woff");
}
@font-face
{
	font-family: freeserif;
	font-weight: normal;
	font-style:  italic;
	src: url("FreeSerifItalic.woff") format("woff");
}
@font-face
{
	font-family: freeserif;
	font-weight: bold;
	font-style:  italic;
	src: url("FreeSerifBoldItalic.woff") format("woff");
}
@font-face
{
	font-family: FreeSans;
	font-weight: normal;
	font-style:  normal;
	src: url("FreeSans.woff") format("woff");
}
@font-face
{
	font-family: FreeSans;
	font-weight: bold;
	font-style:  normal;
	src: url("FreeSansBold.woff") format("woff");
}
@font-face
{
	font-family: FreeSans;
	font-weight: normal;
	font-style:  oblique;
	src: url("FreeSansOblique.woff") format("woff");
}
@font-face
{
	font-family: FreeSans;
	font-weight: bold;
	font-style:  oblique;
	src: url("FreeSansBoldOblique.woff") format("woff");
}
@font-face
{
	font-family: FreeSans;
	font-weight: normal;
	font-style:  italic;
	src: url("FreeSansOblique.woff") format("woff");
}
@font-face
{
	font-family: FreeSans;
	font-weight: bold;
	font-style:  italic;
	src: url("FreeSansBoldOblique.woff") format("woff");
}
@font-face
{
	font-family: freemono;
	font-weight: normal;
	font-style:  normal;
	src: url("FreeMono.woff") format("woff");
}
@font-face
{
	font-family: freemono;
	font-weight: bold;
	font-style:  normal;
	src: url("FreeMonoBold.woff") format("woff");
}
@font-face
{
	font-family: freemono;
	font-weight: normal;
	font-style:  italic;
	src: url("FreeMonoOblique.woff") format("woff");
}
@font-face
{
	font-family: freemono;
	font-weight: bold;
	font-style:  italic;
	src: url("FreeMonoBoldOblique.woff") format("woff");
}
@font-face
{
	font-family: freemono;
	font-weight: normal;
	font-style:  oblique;
	src: url("FreeMonoOblique.woff") format("woff");
}
@font-face
{
	font-family: freemono;
	font-weight: bold;
	font-style:  oblique;
	src: url("FreeMonoBoldOblique.woff") format("woff");
}
