@font-face
{
	font-family: freesans;
	src:	url("FreeSans.woff") format("woff");
	src:	url("FreeSans.ttf") format("truetype");
}
@font-face
{
	font-family: freesans;
	src:	url("FreeSansBold.woff") format("woff");
	src:	url("FreeSansBold.ttf") format("truetype");
	font-weight:  bold;
}
