/* ------------------- handheld screens ---------------------- */
@media handheld, screen and (max-width: 480px) {
	div.header {
	}
	.ctrls { 
		visibility: hidden;
		padding: 0.25ex;
		background-color: rgba( 255, 255, 255, 0.6 );
		border: medium solid rgba( 200, 200, 200, 0.8 );
		border-right: 0;
	}
	.ctrls:target { 
		visibility: visible;
	}
	.ctrls form {
	}
	#menu-icon, #close-icon {
		display: block;
		background: gray; /* for those that don't do gradients */
		background: linear-gradient( to bottom, white 50%, black 50% ); 
		background-size: 30px 10px;
		background-repeat: repeat-y;
		height: 35px; width: 35px;
		padding-right: 5px;
		position: fixed;
		top: 0; right: 0;
	}
	#menu-icon {
	}
	#close-icon {
	}
	div#cover {
		z-index: 2;
	}
	div#header {
		z-index: 1;
	}
}
/* ------------------- full-width screens ---------------------- */
@media screen and (min-width: 481px) {
	#menu-icon, #close-icon { display: none; }
}
