:root {
	--malayalam-reformed: "ss19";
}
p { margin-top: 0; margin-bottom: 0; line-height: 1.2; }
div#text { padding-bottom: 0.5ex; }
.ctrls {
		position: fixed;
		right: 0; top: 40px;
}
form {
	text-align: left;
	padding-left: 1ex;
	border: 0.6ex rgba( 255, 0, 255, 0.8 );
}
div#cover {
	width: 20ex;
}
@media screen and (min-width: 481px) {
	#text { overflow: auto; margin-right: 21ex;
		border-right: solid olive;  }
}
@media screen and (max-width: 480px) {
	h1 { margin-right: 35px; margin-top: 0; }
	body { padding-top: 0; margin-top: 0; }
}
@media print {
	option { display: inline; }
}

@font-face
{
	font-family: freeserif;
	font-weight: normal;
	font-style:  normal;
	src: url("woff/FreeSerif.woff") format("woff");
}
@font-face
{
	font-family: freeserif;
	font-weight: bold;
	font-style:  normal;
	src: url("woff/FreeSerifBold.woff") format("woff");
}
@font-face
{
	font-family: freeserif;
	font-weight: normal;
	font-style:  italic;
	src: url("woff/FreeSerifItalic.woff") format("woff");
}
@font-face
{
	font-family: freeserif;
	font-weight: bold;
	font-style:  italic;
	src: url("woff/FreeSerifBoldItalic.woff") format("woff");
}
@font-face
{
	font-family: FreeSans;
	font-weight: normal;
	font-style:  normal;
	src: url("woff/FreeSans.woff") format("woff");
}
@font-face
{
	font-family: FreeSans;
	font-weight: bold;
	font-style:  normal;
	src: url("woff/FreeSansBold.woff") format("woff");
}
@font-face
{
	font-family: FreeSans;
	font-weight: normal;
	font-style:  oblique;
	src: url("woff/FreeSansOblique.woff") format("woff");
}
@font-face
{
	font-family: FreeSans;
	font-weight: bold;
	font-style:  oblique;
	src: url("woff/FreeSansBoldOblique.woff") format("woff");
}
@font-face
{
	font-family: FreeSans;
	font-weight: normal;
	font-style:  italic;
	src: url("woff/FreeSansOblique.woff") format("woff");
}
@font-face
{
	font-family: FreeSans;
	font-weight: bold;
	font-style:  italic;
	src: url("woff/FreeSansBoldOblique.woff") format("woff");
}
@font-face
{
	font-family: freemono;
	font-weight: normal;
	font-style:  normal;
	src: url("woff/FreeMono.woff") format("woff");
}
@font-face
{
	font-family: freemono;
	font-weight: bold;
	font-style:  normal;
	src: url("woff/FreeMonoBold.woff") format("woff");
}
@font-face
{
	font-family: freemono;
	font-weight: normal;
	font-style:  italic;
	src: url("woff/FreeMonoOblique.woff") format("woff");
}
@font-face
{
	font-family: freemono;
	font-weight: bold;
	font-style:  italic;
	src: url("woff/FreeMonoBoldOblique.woff") format("woff");
}
@font-face
{
	font-family: freemono;
	font-weight: normal;
	font-style:  oblique;
	src: url("woff/FreeMonoOblique.woff") format("woff");
}
@font-face
{
	font-family: freemono;
	font-weight: bold;
	font-style:  oblique;
	src: url("woff/FreeMonoBoldOblique.woff") format("woff");
}
